{% extends 'base.html.twig' %}

{% block title %}GroupSkil index{% endblock %}

{% block body %}
    <h1>GroupSkil index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Icon</th>
                <th>Color</th>
                <th>Description</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for group_skil in group_skils %}
            <tr>
                <td>{{ group_skil.id }}</td>
                <td>{{ group_skil.name }}</td>
                <td>{{ group_skil.icon }}</td>
                <td>{{ group_skil.color }}</td>
                <td>{{ group_skil.description }}</td>
                <td>{{ group_skil.createdAt ? group_skil.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ group_skil.updatedAt ? group_skil.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('admin_group_skill_show', {'id': group_skil.id}) }}">show</a>
                    <a href="{{ path('admin_group_skill_edit', {'id': group_skil.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('admin_group_skill_new') }}">Create new</a>
{% endblock %}
