{% extends 'admin/layout.html.twig' %}

{% block title %}GroupSkill index{% endblock %}

{% block main %}
    <h1>GroupSkill index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Icon</th>
                <th>Color</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for group_skill in group_skils %}
            <tr>
                <td>{{ group_skill.id }}</td>
                <td>{{ group_skill.name }}</td>
                <td>
                    {% if group_skill.icon != null %}
                        <i class="bi bi-{{ group_skill.icon }}"></i>
                    {% else %}
                        Aucune icône    
                    {% endif %}
                </td>
                <td>{{ group_skill.color }}</td>
                {# <td>{{ group_skill.createdAt ? group_skill.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ group_skill.updatedAt ? group_skill.updatedAt|date('Y-m-d H:i:s') : '' }}</td> #}
                <td>
                    <a href="{{ path('admin_group_skill_edit', {'id': group_skill.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-crm" href="{{ path('admin_group_skill_new') }}">Create new</a>
{% endblock %}
