{% extends "admin/layout.html.twig" %}

{% block main %}

    <div class="d-flex justify-content-between">
        <h1 class="h3">
            {{ board.name|capitalize }}
            <a 
                href="{{ path('admin_api_board_bookmark', {
                    id: board.id
                }) }}"
                style="color: inherit;"
                onclick="bookmarkBoard(event);"
            >
                <i class="bi bi-bookmark{% if board.isBookmarked %}-fill{% endif %} "></i>
            </a>
        </h1>
        <div class="board-actions">
            <a 
                href="{{ path('admin_board_list', {
                    id: board.id
                }) }}" 
                class="btn btn-sm btn-white me-2"
                id="#"
                title="Affichage en mode kanban"
            ><i class="bi bi-list-ul"></i></a>
            <div class="dropdown">
                <a 
                    href="#" 
                    class="btn btn-sm btn-white me-2 dropdown-toggle"
                    title="Ajouter une carte"
                    id="dropdownCreateMenu" 
                    data-bs-toggle="dropdown" 
                    aria-expanded="false"
                ><i class="bi bi-plus-lg"></i></a>           
                <ul class="dropdown-menu" aria-labelledby="dropdownCreateMenu">
                    <li>
                        <a 
                            class="dropdown-item" 
                            href="{{ path('admin_card_create', {
                                id: board.id
                            }) }}"
                        >Ajouter une carte</a></li>
                    <li>
                        <span 
                            class="dropdown-item" 
                            data-bs-toggle="modal" 
                            data-bs-target="#modalCreateList" 
                        >Ajouter une liste</span></li>
                </ul>
            </div>           
            <a 
                href="{{ path('admin_board_edit', {
                    id: board.id
                }) }}" 
                class="btn btn-sm btn-white"
                id="#"
                title="Modifier le tableau"
            ><i class="bi bi-pencil-square"></i></a>
        </div>
    </div>

    <div class="board-list-container">
        {% include "task-manager/board/kanban/_list.html.twig" with {
            canCreate: true,
            position: 0,
            name: listOpen.name,
            formAction: path('admin_api_card_board_create', {
                id: board.id
            }),
            cards: listOpen.cards
        } %}            
        {% for list in lists %}
            {% include "task-manager/board/kanban/_list.html.twig" with {
                canCreate: true,
                position: list.position,
                name: list.name,
                formAction: path('admin_api_card_list_create', {
                    id: list.id
                }),
                cards: list.cards
            } %}            
        {% endfor %}
        {% include "task-manager/board/kanban/_list.html.twig" with {
            canCreate: false,
            position: (lists|length + 1),
            name: listClosed.name,
            formAction: null,
            cards: listClosed.cards
        } %}            
    </div>
    {% include "task-manager/board/kanban/_modals/_list_form.html.twig" with { 
        url: path('admin_api_board_list_create', {
                id: board.id
            }) 
    } %} 

{% endblock %}

{% block css %}    
    <link rel="stylesheet" href="{{ asset('css/task-manager/board-kanban.css') }}">
{% endblock %}

{% block js %}
    <script src="{{ asset('js/task-manager/board-kanban.js') }}"></script>
{% endblock %}