{% extends "admin/layout.html.twig" %}

{% block main %}

    <div class="container-fluid" id="socials-list">
        <h1 class="mt-2 mb-3">
            Mes réseaux sociaux
        </h1>
        <div class="row">
            <div class="col-12 col-xl-9">
                <div class="d-flex justify-content-end">
                    <a 
                        href="{{ path('admin_social_create') }}" 
                        class="btn btn-crm btn-sm" 
                    >Ajouter un profil</a>
                </div>
                <div class="mt-2" id="social-table">
                    <table class="table table-hover table-striped align-middle">
                        <thead>
                            <tr>
                                <th scope="row">#</th>
                                <th scope="row">Nom</th>
                                <th scope="row">Lien</th>
                                <th scope="row">Icone</th>
                                <th scope="row">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for social in socials %}
                                <tr data-social-index="{{ social.id }}">
                                    <th scope="col">{{ social.id }}</th>
                                    <td>{{ social.name }}</td>
                                    <td> <a href="{{ social.link }}" target="_blank">{{ social.link }}</a></td>
                                    <td><i class="bi bi-{{ social.icon }}"></i></td>
                                    <td>
                                        <a 
                                            href="{{ path('admin_social_edit', {id: social.id}) }}" 
                                            class="btn btn-warning btn-sm"
                                        >Modifier</a>
                                        <a 
                                            href="{{ path('admin_social_delete', {id: social.id}) }}" 
                                            class="btn btn-danger btn-sm social-delete"
                                        >Supprimer</a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        
    </div>

{% endblock %}

{% block js %}
    <script src="{{ asset('js/admin/social.js') }}"></script>
{% endblock %}

{% block css %}{% endblock %}