{% extends "admin/layout.html.twig" %}

{% block main %}

    <div class="container-fluid" id="projects-list">
        <h1 class="mt-2 mb-3">
            Mes types 
        </h1>
        <div class="d-flex justify-content-end">
            <a 
                class="btn btn-white btn-sm" 
                href="{{ path('admin_room_new') }}"
            >Ajouter une room</a>
        </div>
        <div class="mt-2" id="project-table">
            <table class="table table-hover table-striped align-middle">
                <thead>
                    <tr>
                        <th scope="row">#</th>
                        <th scope="row">Nom</th>
                        <th scope="row">Icone</th>
                        <th scope="row">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for key, room in rooms %}
                        <tr>
                            <th scope="col">{{ room.id }}</th>
                            <td>
                                <a 
                                    href="{{ path('admin_room_show', {
                                        id: room.id
                                    }) }}"
                                    class="link"
                                    title="Voir l'espace de travail"
                                >{{ room.name }}</a>
                            </td>
                            <td><i class="bi bi-{{ room.icon }}"></i></td>
                            <td>
                                <a 
                                    href="{{ path('admin_room_edit', {id: room.id}) }}" 
                                    class="btn btn-warning btn-sm"
                                    title="Voir l'espace de travail"
                                ><i class="bi bi-pencil-square"></i></a>
                                <a                                 
                                    id="project_{{ key }}" 
                                    href="{{ path('admin_room_show', {id: room.id}) }}" 
                                    class="btn btn-primary btn-sm"
                                ><i class="bi bi-eye"></i></a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        
    </div>

{% endblock %}

{% block js %}

    <script>

        // const deleteButtons = document.querySelectorAll('.room-delete');

        // deleteButtons.forEach((button, index, value) => {
        //     button.addEventListener('click', (event) => {
        //         event.preventDefault();
                
        //         const url = button.href;
        //         const row = button.closest(`tr[data-room-index="${button.dataset.boardtypeIndex}"]`);
        //         const confirmation = confirm('Voulez-vous vraiment supprimer ce projet ? ');

        //         if (confirmation === true) {
        //             axios
        //                 .delete(url)
        //                 .then(({headers, status}) => {
        //                         console.error({headers, status})
        //                     if (status === 204) {
        //                         row.remove();
        //                         flash('Le room a bien été supprimé ! 🚀', 'info');
        //                     }
        //                 })
        //                 .catch(({response}) => {
        //                     console.error(response);
        //                 })
        //         }

        //     });
        // });

    </script>

{% endblock %}