{% extends "dashboard/layout.html.twig" %}

{% block main %}

    <section id="project-edit">

        <a class="mb-2" href="{{ path('dashboard_project_list') }}">
            <i class="bi bi-arrow-left me-2"></i>
            Revenir aux projets
        </a>

        <h1 class="heading-title h2">Projet #{{ project.id }}</h1>

        <!-- Onglets projet --> 
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <button 
                    class="nav-link active" 
                    id="informations-tab" 
                    data-bs-toggle="tab" 
                    data-bs-target="#informations" 
                    type="button" 
                    role="tab" 
                    aria-controls="informations" 
                    aria-selected="true"
                >Informations</button>
            </li>
            <li class="nav-item" role="presentation">
                <button 
                    class="nav-link" 
                    id="tasks-tab" 
                    data-bs-toggle="tab" 
                    data-bs-target="#tasks" 
                    type="button" 
                    role="tab" 
                    aria-controls="tasks" 
                    aria-selected="false"
                >Tâches</button>
            </li>
            <li class="nav-item" role="presentation">
                <button 
                    class="nav-link" 
                    id="images-tab" 
                    data-bs-toggle="tab" 
                    data-bs-target="#images" 
                    type="button" 
                    role="tab" 
                    aria-controls="images" 
                    aria-selected="false"
                >Images</button>
            </li>
        </ul>

        <div class="tab-content" id="myTabContent">
            {% include "dashboard/project/panels/images.html.twig" %}
            {% include "dashboard/project/panels/informations.html.twig" %}
            {% include "dashboard/project/panels/tasks.html.twig" %}
        </div>

    </section>

    {% include "dashboard/project/modals/task-form.html.twig" %}

    <!-- Task template -->    
    <template id="task-template">
        <div class="task-item" data-task-index="">
            <h3 class="h5" class="task-name" data-col-task="name"></h3>
            <span class="task-icons">
                <a 
                    href="" 
                    class="link mx-1 task-edit"
                    title="Modification de la tâche"
                    data-bs-toggle="modal"
                    data-bs-target="#modal-task"
                ><i class="bi bi-pencil-square"></i></a>
                <a 
                    href="" 
                    class="link task-delete"
                    title="Suppression de la tâche"
                ><i class="bi bi-trash mx-1 text-danger"></i></a>
            </span>
        </div>
    </template>

    <!-- Image template -->
    <template id="image-template">
        <div class="project-image-container">
            <img src="" alt="" srcset="" id="" class="project-image">
            <div class="project-image-overlay">
                <a href="" class="link project-image-main" data-col-image="is_main">
                    <i class="bi bi-star"></i>
                </a>
                <label for="" class="project-image-edit" data-col-image="path" data-action-url="">
                    <i class="bi bi-pencil-fill"></i>
                </label>
                <a href="" class="link project-image-delete">
                    <i class="bi bi-trash text-danger"></i>
                </a>
            </div>
        </div>
    </template> 

{% endblock %}

{% block js %}
    <script>
        var formUrls = {
            base: "{{ path('dashboard_project_task_new', {id: project.id}) }}"
        };
    </script>
    <script src="{{ asset('js/dashboard/project/edit.js') }}"></script>
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{ asset('css/dashboard/project.css') }}">
{% endblock %}