{% extends "docs/layouts/page.html.twig" %}

{% block main %}
    <section class="container-fluid" id="page-show-book">
        {% include "docs/book/sidebar.html.twig" %}        
        <section class="section">
            <div class="container">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        {% include "docs/partials/breadcrumb.html.twig" with {instance: book} %}
                    </ol>
                </nav>
                <h1 class="h3">{{ book.title }}</h1>
                <p class="book-description">{{ book.description }}</p>

                <div class="book-container">                
                    <div class="content-container">
                        <div class="chapter-list">
                            {% for chapter in chapters %}
                                {% if is_granted('chapter_view', chapter) %}
                                    <div class="content chapter">
                                        <div class="chapter-container">                                        
                                            <a 
                                                id="chapter_link_{{ chapter.id }}"
                                                href="{{ path('docs_chapter_show', {
                                                    id: chapter.id,
                                                    slug: chapter.slug
                                                }) }}" 
                                                class="chapter-link"
                                            >{{ chapter.title|capitalize }}</a>
                                        </div>
                                        {% if chapter.pages|length > 0 %}
                                            <div class="page-container">
                                                <p 
                                                    class="dropdown-btn" 
                                                    id="dropdownPage{{ chapter.id }}"
                                                    aria-target="#dropDownPageLink{{ chapter.id }}" 
                                                    aria-expanded="false"
                                                >
                                                    <i class="bi bi-caret-right-fill"></i>
                                                    &nbsp;{{ chapter.pages|length }} Pages
                                                </p>
                                                <div class="pages-dropdown hidden" id="dropDownPageLink{{ chapter.id }}">
                                                    {% for page in chapter.pages %}      
                                                        {% if is_granted('page_view', page) %}
                                                            <a 
                                                                href="{{ path('docs_page_show', {
                                                                    id: page.id,
                                                                    slug: page.slug
                                                                }) }}" 
                                                                class="link-page"
                                                                title="Lien vers la page {{ page.title|capitalize }}"
                                                            >{{ page.title|capitalize }}</a>
                                                        {% endif %}                                          
                                                    {% endfor %}
                                                </div>
                                            </div> 
                                        {% endif %}
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                        <div class="page-list">
                            {% for page in pages %}
                                {% if is_granted('page_view', page) %}
                                    <div class="content page">
                                        {{ page.title|capitalize }}
                                        <a 
                                            href="{{ path('docs_page_show', {
                                                id: page.id,
                                                slug: page.slug
                                            }) }}"
                                            class="link-page"
                                            title="Lien vers la page {{ page.title }}"
                                        ></a>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>
{% endblock %}

{% block css %}    
    <link rel="stylesheet" href="{{ asset('css/docs/styles.css') }}">
{% endblock %}

{% block js %}
    <script>
        window.onload = () => {
            const dropDownButtonsContainer = document.querySelectorAll('.dropdown-btn');
            const dropDownButtons = document.querySelectorAll('.dropdown-btn i');

            const dropDown = (event) => {
                const button = event.target;
                const target = event.target.getAttribute('aria-target');
                const dropDown = document.querySelector(target);
                const alreadyOpen = document.querySelector('.dropdown-btn[aria-expanded="true"]');
                
                if (alreadyOpen && alreadyOpen !== button){
                    alreadyOpen.setAttribute('aria-expanded', false);
                    alreadyOpen.nextElementSibling.classList.add('hidden');
                }

                if (dropDown.classList.contains('hidden')) {
                    button.setAttribute('aria-expanded', true);
                    dropDown.classList.remove('hidden');
                } else {
                    button.setAttribute('aria-expanded', false);
                    dropDown.classList.add('hidden');
                }
            }

            dropDownButtonsContainer.forEach((button) => {
                button.addEventListener('click', dropDown);
            });
        }
            
        const deleteObject = (event) => {
            event.preventDefault();
            const url = event.target.href;
            const answer = confirm('Toutes les données supprimées seront perdues définitivement? Êtes-vous sûr de poursuivre cette action?');

            if (answer === true) {
                axios
                    .delete(url)
                    .then(({ status, headers }) => {
                        if (status === 204) {
                            if (headers.hasOwnProperty('location')) {
                                flash('Supprimé avec succcès');
                                setTimeout(() => window.location = headers.location, 1000);
                            }
                        }
                    })
                    .catch(({ response }) => {
                        errorHTTPRequest();
                        console.error(response);
                    })
            }
        }
    </script>
{% endblock %}
