{% extends "dashboard/layout.html.twig" %}

{% block main %}

    <section class="container-fluid profile">
        <h1 class="h2 mb-4">Mon profil</h1>
        <div class="profile-main">
            <div class="row mt-2">
                <div class="col-3 col-xxl-2 dashboard-profile-image-container">
                    <img src="{{ asset('images/zepeto.png') }}" id="profile-image" alt="Photo de profil" class="dashboard-profile-image">
                    <div class="overlay-action">
                        <!-- Bouton ouverture modale -->
                        <a 
                            class="dashboard-image-link" 
                            href="#" 
                            id="edit-image-button"
                            data-bs-toggle="modal" 
                            data-bs-target="#upload-modal"
                        >modifier</a>
                        <!-- Bouton suppression photo de profil -->
                        <a 
                            href="#"
                            id="delete-image-button"
                            class="dashboard-image-link delete"
                        >supprimer</a>
                    </div>
                </div>
                <div class="col-9 col-xxl-6 informations-form">
                    <h2 class="h4 mb-2">Informations</h2>
                    <form action="{{ path('dashboard_profile_edit', {'uid': app.user.uid}) }}" method="post" id="info-form">
                        <div class="form-group">
                            <label for="telephone" class="form-label">Téléphone</label>
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="telephone"><i class="bi bi-telephone"></i></span>
                                <input 
                                    type="text" 
                                    class="form-control" 
                                    id="telephone" 
                                    name="telephone" 
                                    aria-label="Téléphone" 
                                    aria-describedby="telephone"
                                    value="{{ app.user.telephone }}"
                                >
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary">Enregistrer</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="profile-password">
            <div class="row">
                <div class="col-6 col-xxl-4">
                    <h2 class="h3">Modifier mon mot de passe</h2>
                    <form action="" method="post" id="password-form">
                        <div class="form-group">
                            <label for="password" class="form-label">Nouveau mot de passe</label>
                            <input type="password" name="password" id="password" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="confirmPassword" class="form-label">Confirmer le nouveau mot de passe</label>
                            <input type="password" name="confirmPassword" id="confirmPassword" class="form-control">
                        </div>
                        <button type="submit" class="btn btn-primary">Changer mon mot de passe</button>
                    </form>
                </div>
            </div>
        </div>
    </section>

    {% include "dashboard/profile/modal.html.twig" %}

{% endblock %}

{% block js %}
    <script src="{{ asset('js/dashboard/profile.js') }}"></script>
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{ asset('css/dashboard/profile.css') }}">
{% endblock %}