{{ form_start(form) }}

    <div class="row">
        <div class="col-xxl-9 col-lg-8">
            {{ form_row(form.name) }}    
            {{ form_row(form.description) }}    
            {{ form_row(form.stacks) }}
            {# store the prototype on the data-prototype attribute #}
            <div class="group-task-list mb-3">
                <div class="d-flex ">
                    {{ form_label(form.tasks, 'Les tâches', {
                        'label_attr': {'style': 'width:auto !important;', 'class': 'mb-2'}
                    }) }}            
                    <span 
                        id="add-task"
                        class="btn" 
                        data-list-selector="#tasks-field-list"
                    ><i class="bi bi-plus-square"></i></span>            
                </div>
                <div 
                    id="tasks-field-list"
                    data-prototype="{{ form_widget(form.tasks.vars.prototype)|e('html_attr') }}"
                    data-widget-tags="{{ '<div></div>'|e }}"
                    data-widget-counter="{{ form.tasks|length }}"
                >
                    {% for key, task in form.tasks %}
                        <div class="row">
                            <div class="col-11">
                                {{ form_row(task) }}
                            </div>
                            <div class="col-1">
                                <span class="btn btn-delete text-danger" id="delete_task_{{ key }}" onclick="deleteTask(event)"><i class="bi bi-x-square"></i></span>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-xxl-3 col-lg-4">
            <button class="btn btn-primary mb-3">{{ button_label|default('Enregistrer') }}</button>
            <div class="accordion" id="accordionProject">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingInformations">
                        <button 
                            class="accordion-button" 
                            type="button" 
                            data-bs-toggle="collapse" 
                            data-bs-target="#accordionInformations" 
                            aria-expanded="true" 
                            aria-controls="accordionInformations"
                        >Informations</button>
                    </h2>
                    <div 
                        id="accordionInformations" 
                        class="accordion-collapse collapse show" 
                        aria-labelledby="headingInformations" 
                        data-bs-parent="#accordionProject"
                    >
                        <div class="accordion-body">
                            {{ form_row(form.state) }}  
                            {{ form_row(form.visibility) }}
                            {% if project.createdAt %}
                                <div>
                                    <small>Crée le {{ project.createdAt|format_datetime(locale='fr') }}</small>                         
                                </div> 
                            {% endif %}
                            {% if project.updatedAt %}
                                <div>
                                    <small>Dernière mise à jour le {{ project.updatedAt|format_datetime(locale='fr') }}</small>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingURL">
                        <button 
                            class="accordion-button collapsed" 
                            type="button" 
                            data-bs-toggle="collapse" 
                            data-bs-target="#accordionURL" 
                            aria-expanded="false" 
                            aria-controls="accordionURL"
                        >URL</button>
                    </h2>
                    <div 
                        id="accordionURL" 
                        class="accordion-collapse collapse" 
                        aria-labelledby="headingURL" 
                        data-bs-parent="#accordionProject"
                    >
                        <div class="accordion-body">
                            {{ form_row(form.link) }}
                            {{ form_row(form.slug) }}                            
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingImage">
                        <button 
                            class="accordion-button collapsed" 
                            type="button" 
                            data-bs-toggle="collapse" 
                            data-bs-target="#accordionImage" 
                            aria-expanded="false" 
                            aria-controls="accordionImage"
                        >Image</button>
                    </h2>
                    <div 
                        id="accordionImage" 
                        class="accordion-collapse collapse" 
                        aria-labelledby="headingImage" 
                        data-bs-parent="#accordionProject"
                    >
                        <div class="accordion-body">  
                            {% if project.image != null %}
                                <img 
                                    src="{{ asset(project.image) }}" 
                                    alt="Prévisualisation de l'image uploadé" 
                                    srcset="{{ asset(project.image) }}" 
                                    id="preview-container" 
                                    class=""
                                    title="Prévisualisation de l'image uploadé"
                                >  
                            {% else %}
                                <img 
                                    src="#" 
                                    alt="Prévisualisation de l'image uploadé" 
                                    srcset="#" 
                                    id="preview-container" 
                                    class="hidden"
                                    title="Prévisualisation de l'image uploadé"
                                >                                
                            {% endif %}                   
                            <span class="text-danger mb-1 hidden" id="preview-error"></span>
                            {{ form_row(form.uploadedFile) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{{ form_end(form) }}