{% extends "admin/layout.html.twig" %}

{% block main %}

    <div class="container-fluid" id="projects-list">
        <h1 class="mt-2 mb-3">
            Mes projets
        </h1>
        <div class="d-flex justify-content-end">
            <a 
                class="btn btn-crm btn-sm" 
                href="{{ path('admin_project_new') }}"
            >Ajouter un projet</a>
        </div>
        <div class="mt-2" id="project-table">
            <table class="table table-hover table-striped align-middle">
                <thead>
                    <tr>
                        <th scope="row">#</th>
                        <th scope="row">Nom</th>
                        <th scope="row">Status</th>
                        <th scope="row">Visibilité</th>
                        <th scope="row">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for key, project in projects %}
                        <tr data-project-index="{{ key }}">
                            <th scope="col">{{ project.id }}</th>
                            <td>{{ project.name }}</td>
                            <td> <span class="badge badge-crm">{{ project.state }}</span></td>
                            <td>{{ project.visibility }}</td>
                            <td>
                                <a 
                                    href="{{ path('admin_project_edit', {id: project.id}) }}" 
                                    class="btn btn-warning btn-sm"
                                >Modifier</a>
                                <a                                 
                                    id="peoject_{{ key }}" 
                                    data-role="delete"
                                    data-project-index="{{ key }}"
                                    href="{{ path('admin_project_delete', {id: project.id}) }}" 
                                    class="btn btn-danger btn-sm project-delete"
                                >Supprimer</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        
    </div>

    {% include "admin/project/modals/create-project.html.twig" %}

{% endblock %}

{% block js %}

    <script>

        const deleteButtons = document.querySelectorAll('.project-delete');

        deleteButtons.forEach((button, index, value) => {
            button.addEventListener('click', (event) => {
                event.preventDefault();
                
                const url = button.href;
                const row = button.closest(`tr[data-project-index="${button.dataset.projectIndex}"]`);
                const confirmation = confirm('Voulez-vous vraiment supprimer ce projet ? ');

                if (confirmation === true) {
                    axios
                        .delete(url)
                        .then(({headers, status}) => {
                            console.error({headers, status})
                            if (status === 204) {
                                row.remove();
                                flash('Le projet a bien été supprimé ! 🚀', 'info');
                            }
                        })
                        .catch(({response}) => {
                            console.error(response);
                        })
                }

            });
        });

    </script>

{% endblock %}