<section class="masthead" id="accueil" style="background-image: {{ bgImage }}">
    <div class="masthead-container">
        <div class="masthead-body">
            <div class="masthead-content">
                <h1 class="masthead-title">{{ content.headingPrimary }}</h1>
                <h2 class="masthead-subitle mb-5 text-blue">{{ content.headingSecondary }}</h2>
                <a class="btn btn-outline-home btn-round" href="#a-propos">En savoir plus</a>
            </div>
        </div>
        <div class="masthead-footer">
            <div class="masthead-socials">
                {% for social in socials %}
                    <a href="{{ social.link }}" class="social-link link" title="{{ social.name }}">
                        <i class="bi bi-{{ social.icon }}"></i>
                    </a>  
                {% endfor %}
            </div>
        </div>
    </div>
</section>