<aside class="sidebar">
    <div class="sidebar-top">
        <div class="sidebar-menu">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a href="{{ path('admin_room_index') }}" class="nav-link">
                        <i class="bi bi-grid-1x2"></i>
                        Tableaux
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{{ path('admin_project_list') }}" class="nav-link">
                        <i class="bi bi-ui-checks"></i>
                        Projets
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{{ path('admin_stack_list') }}" class="nav-link">
                        <i class="bi bi-stack"></i>
                        Stack
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{{ path('admin_contact_list') }}" class="nav-link">
                        <i class="bi bi-mailbox"></i>
                        Contacts
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{{ path('admin_group_skill_list') }}" class="nav-link">
                        <i class="bi bi-lightning"></i>
                        Compétences
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{{ path('admin_social_list') }}" class="nav-link">
                        <i class="bi bi-hash"></i>
                        Liens sociaux 
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{{ path('admin_user_index') }}" class="nav-link">
                        <i class="bi bi-people"></i>
                        Utilisateurs
                    </a>
                </li>
            </ul>
        </div>
    </div>
     <div class="sidebar-bottom">
        <div class="sidebar-settings">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_default') }}">
                        <i class="bi bi-globe"></i>
                        Revenir sur le site
                    </a>
                </li>
            </ul>
        </div>
    </div>
</aside>