<aside class="sidebar">
    <div class="sidebar-top">
        <div class="sidebar-menu">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a href="{{ path('admin_project_list') }}" class="nav-link">
                        <i class="bi bi-ui-checks"></i>
                        Mes projets
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{{ path('admin_stack_list') }}" class="nav-link">
                        <i class="bi bi-stack"></i>
                        Ma stack
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{{ path('admin_contact_list') }}" class="nav-link">
                        <i class="bi bi-mailbox"></i>
                        Mes contacts
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{{ path('admin_group_skill_list') }}" class="nav-link">
                        <i class="bi bi-lightning"></i>
                        Mes compétences
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{{ path('admin_social_list') }}" class="nav-link">
                        <i class="bi bi-hash"></i>
                        Mes liens sociaux 
                    </a>
                </li>
            </ul>
        </div>
    </div>
     <div class="sidebar-bottom">
        <div class="sidebar-settings">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_default') }}">
                        <i class="bi bi-globe"></i>
                        Revenir sur le site
                    </a>
                </li>
            </ul>
        </div>
    </div>
</aside>