<header class="header d-flex justify-content-center {{ home|default('') }}" aria-label="Top navigation bar" id="default-navbar">
    <section class="container-fluid header-content">
        <a class="navbar-brand link" href="{{ path('app_default') }}">
            <img src="{{ asset('images/logo.png') }}" alt="logo du site" width="75" height="50">
        </a>
        <nav class="header-nav mobi-nav" id="navbarMenu" aria-label="Top navigation menu">
            <ul class="header-menu">
                <li class="menu-item">
                    <a href="{{ path('app_default') }}" class="menu-link">Accueil</a>
                </li>
                <li class="menu-item">
                    <a href="{{ path('website_project_index') }}" class="menu-link">Mes réalisations</a>
                </li>
                <li class="menu-item">
                    <a href="{{ path('website_about') }}" class="menu-link">Qui suis-je ?</a>
                </li>
                <li class="menu-item">
                    <a href="{{ path('docs_default') }}" class="menu-link">Technique</a>
                </li>
                <li class="menu-item">
                    <a href="{{ path('website_contact') }}" class="btn btn-primary btn-sm btn-round">Me contacter</a>
                </li>
            </ul>
        </nav>
        <button 
            class="header-menu-toggler" 
            type="button" 
            data-app-target="#navbarMenu" 
            expanded="false"
        ><i class="bi bi-list"></i></button>
    </section>
</header>