
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{{ path('docs_shelf_index') }}">Étagères</a>
        </li>
        {% if getClass(instance) == setClass("AppEntityShelf") %} 
            <li class="breadcrumb-item active" aria-current="page">
                {{ shelf.title }}
            </li>
        {% elseif getClass(instance) == setClass("AppEntityBook") %}
            <li class="breadcrumb-item">
                <a href="{{ path('docs_shelf_show', {
                    id: book.shelf.id,
                    slug: book.shelf.slug
                }) }}">{{ book.shelf.title }}</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
                {{ book.title }}
            </li>
        {% elseif getClass(instance) == setClass("AppEntityChapter") %}
            <li class="breadcrumb-item">
                <a href="{{ path('docs_shelf_show', {
                    id: chapter.book.shelf.id,
                    slug: chapter.book.shelf.slug
                }) }}">{{ chapter.book.shelf.title }}</a>
            </li>
            <li class="breadcrumb-item active">
                <a href="{{ path('docs_book_show', {
                    id: chapter.book.id,
                    slug: chapter.book.slug
                }) }}">{{ chapter.book.title }}</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
                {{ chapter.title }}
            </li>
        {% elseif getClass(instance) == setClass("AppEntityPage") %}
            {% if instance.book is not null %}
                <li class="breadcrumb-item">
                    <a href="{{ path('docs_shelf_show', {
                        id: page.book.shelf.id,
                        slug: page.book.shelf.slug
                    }) }}">{{ page.book.shelf.title }}</a>
                </li>
                <li class="breadcrumb-item active">
                    <a href="{{ path('docs_book_show', {
                        id: page.book.id,
                        slug: page.book.slug
                    }) }}">{{ page.book.title }}</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">
                    {{ page.title }}
                </li>
            {% elseif instance.chapter is not null %}
                <li class="breadcrumb-item">
                    <a href="{{ path('docs_shelf_show', {
                        id: page.chapter.book.shelf.id,
                        slug: page.chapter.book.shelf.slug
                    }) }}">{{ page.chapter.book.shelf.title }}</a>
                </li>
                <li class="breadcrumb-item active">
                    <a href="{{ path('docs_book_show', {
                        id: page.chapter.book.id,
                        slug: page.chapter.book.slug
                    }) }}">{{ page.chapter.book.title }}</a>
                </li>
                <li class="breadcrumb-item active">
                    <a href="{{ path('docs_chapter_show', {
                        id: page.chapter.id,
                        slug: page.chapter.slug
                    }) }}">{{ page.chapter.title }}</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">
                    {{ page.title }}
                </li>
            {% endif %}
        {% endif %}
        
    </ol>
</nav>