<section class="section" id="contact">
    <section class="page-section">
        <div class="container-fluid container-xl">
            <div class="section-header">
                <h3 class="section-title">Contactez-moi !</h3> 
                <hr>
            </div>
            <div class="section-content">
                <div class="contact-subtitle text-center">
                    <p class="contact-text">Actuellement je suis en poste, je suis intéressé par les postes de :</p>
                    <div class="job-list mb-3">
                        <b>Développeur front-end • Développeur back-end php • Intégrateur web</b>
                    </div>
                </div>
                <div class="contact-list row g-4">
                    <div class="contact-box col-6 col-md-4 col-lg-3">
                        <a 
                            href="tel:+33649640119" 
                            class="contact-link link" 
                            title="Me contacter par téléphone"
                        >
                            <div class="box">                            
                                <i class="contact-icon bi bi-phone" role="img" aria-label="Telephone"></i>
                            </div>
                        </a>                        
                    </div>
                    <div class="contact-box col-6 col-md-4 col-lg-3">
                        <a 
                            href="{{ path('website_contact') }}" 
                            class="contact-link link" 
                            title="M'envoyer un message via le formulaire de contact"
                        >
                            <div class="box">
                                <i class="contact-icon bi bi-envelope" role="img" aria-label="Contact"></i>
                            </div>
                        </a>                        
                    </div>
                    {% for social in socials() %}
                        <div class="contact-box col-6 col-md-4 col-lg-3">
                            <a 
                                href="{{ social.link }}" 
                                target="_blank" 
                                class="contact-link link" 
                                title="{{ social.title }}"
                            >
                                <div class="box">
                                    <i class="contact-icon bi bi-{{ social.icon }}" aria-label="{{ social.name }}"></i>
                                </div>
                            </a>                        
                        </div>                        
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
</section>