{% extends "docs/layouts/index.html.twig" %}

{% block content %}

    <section id="page-list-shelf" class="page-section">
        <main class="main-container ms-4">
            <h1 class="h3 mb-4">
                Étagères  
                {% if is_granted('shelf_create') %}
                    <a 
                        href="{{ path('docs_shelf_new') }}" 
                        class="btn btn-crm btn-sm"
                        title="Ajouter une nouvelle étagère"
                    >Nouvelle étagère</a>
                {% endif %}
            </h1>
            <div class="shelf-list row g-1 g-md-2 g-lg-3 g-xxl-4 mb-4">
                {% for shelf in shelves %}
                    <div class="col-12 col-md-6 col-lg-4 col-xxl-3 my-2">
                        <div class="card shelf">
                            <div class="card-body">
                                <img 
                                    src="{{ asset(shelf.image ?? 'images/default/project-default.jpg') }}" 
                                    alt="Image du shelf {{ shelf.title }}" 
                                    srcset="{{ asset(shelf.image ?? 'images/default/project-default.jpg') }}" 
                                    id="image_shelf_{{ shelf.id }}" 
                                    class="shelf-image"
                                    title="Image du shelf {{ shelf.title }}"
                                >
                                <h5 class="card-title">{{ shelf.title }}</h5>
                                <p class="card-text">{{ shelf.description }}</p>
                                <a
                                    class="shelf-card-link"
                                    title="Lien vers l'étagère {{ shelf.title }}"
                                    href="{{ path("docs_shelf_show", {
                                        id: shelf.id,
                                        slug: shelf.slug
                                    }) }}"
                                ></a>
                            </div>
                            <div class="card-footer">
                                <span>
                                    {{ shelf.books|length }}
                                    <i class="bi bi-book"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="navigation">
                {{ knp_pagination_render(shelves) }}
            </div>
        </main>
    </section>


{% endblock %}