{% extends "docs/layouts/page.html.twig" %}

{% block main %}
    <section class="container-fluid" id="page-show-shelf">
        {% include "docs/shelf/sidebar.html.twig" %}        
        <section class="section">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    {% include "docs/partials/breadcrumb.html.twig" with {instance: shelf} %}
                </ol>
            </nav>
            <img 
                src="{{ asset(shelf.image ?? 'images/default/project-default.jpg') }}" 
                alt="Image du shelf {{ shelf.title }}" 
                srcset="{{ asset(shelf.image ?? 'images/default/project-default.jpg') }}" 
                id="image_shelf_{{ shelf.id }}" 
                class="shelf-image"
                title="Image du shelf {{ shelf.title }}"
            >
            <h1 class="h3">{{ shelf.title }}</h1>
            <p class="shelf-description">{{ shelf.description }}</p>

            <div class="book-container">                
                <div class="book-list mt-2 mb-4 row g-1 g-md-2 g-lg-3 g-xxl-4">
                    {% for book in books %}
                        <div class="col-12 col-md-6 col-lg-4 col-xxl-3 my-2">
                            <div class="card book">
                                <div class="card-body">
                                    <h5 class="card-title">{{ book.title }}</h5>
                                    <small class="card-text">{{ book.description }}</small>
                                    <a 
                                        href="{{ path('docs_book_show', {
                                            id: book.id,
                                            slug: book.slug
                                        }) }}" 
                                        class="book-card-link" 
                                        {# onclick="event.preventDefault()" #}
                                        title="Lien vers le livre {{ book.title }}"
                                        id="book_link_{{ book.id }}"
                                    ></a>
                                </div>
                                <div class="card-footer">
                                    <div class="d-flex flex-row book-content">
                                        <div class="book-chapters me-2">
                                            {{ book.chapters|length }}
                                            <i class="bi bi-folder"></i>
                                            Chapitres
                                        </div>
                                        <div class="book-pages ms-2">
                                            {{ book.pages|length }}
                                            <i class="bi bi-file-text"></i>
                                            Pages
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% else %}
                        <div class="alert alert-info my-2">
                            Pas de livres pour le moment. Des contenus seront disponibles bientôt.
                        </div>
                    {% endfor %} 
                </div>
                <div class="navigation">
                    {{ knp_pagination_render(books) }}
                </div>
            </div>
        </section>
    </section>
{% endblock %}

{% block css %}    
    <link rel="stylesheet" href="{{ asset('css/docs/styles.css') }}">
{% endblock %}

{% block js %}
    <script>
        const deleteObject = (event) => {
            event.preventDefault();
            const url = event.target.href;
            const answer = confirm('Toutes les données supprimées seront perdues définitivement? Êtes-vous sûr de poursuivre cette action?');

            if (answer === true) {
                axios
                    .delete(url)
                    .then(({ status, headers }) => {
                        if (status === 204) {
                            if (headers.hasOwnProperty('location')) {
                                flash('Supprimé avec succcès');
                                setTimeout(() => window.location = headers.location, 1000);
                            }
                        }
                    })
                    .catch(({ response }) => {
                        errorHTTPRequest();
                        console.error(response);
                    })
            }
        }
    </script>
{% endblock %}
