{% for board in boards %}
    <div class="list-group-item board">
        <div class="board-container">
            <div class="board-section">
                <p class="board-name">
                    <a 
                        href="{{ path('admin_board_list', {
                            id: board.id
                        }) }}"
                        class="link"
                        id="board_show_{{ board.id }}"
                    >
                        {{ board.name|capitalize }} 
                        <i class="bi bi-bookmark{% if board.isBookmarked %}-fill{% endif %}"></i> 
                    </a>
                </p>
                <div class="board-dates">
                    <p>
                        {% if board.deadline != null %} 
                            <i class="bi bi-calendar"></i> Deadline le {{ board.deadline|format_datetime('short', 'none', locale='fr') }} 
                        {% else %} 
                            Pas de dealine 
                        {% endif %}
                    </p>
                    {% if board.updatedAt != null %} 
                        <p>
                            <i class="bi bi-clock"></i> Dernière modification{{ board.updatedAt|format_datetime('short', 'none', locale='fr') }} 
                        </p>
                    {% endif %}
                </div>
                <small class="board-description">
                    {{ board.description }}
                </small>                            
            </div>
            <div class="board-section">  
                <div class="board-progress">
                    <div class="progress">
                        <div 
                            class="progress-bar bg-success"  
                            role="progressbar" 
                            style="width: {{ board.cardCoverage }}%;" 
                            aria-valuenow="{{ board.cardCoverage }}" 
                            aria-valuemin="0" 
                            aria-valuemax="100"
                        ></div>
                    </div>
                </div>  
                <div class="board-stats">
                    <span>{{ board.cardCoverage }} % terminées</span>
                    <span>{{ board.nbCardsOpen }} ouvertes</span>
                    <span>{{ board.nbCardsClosed }} fermées</span>
                </div>  
                <div class="board-actions">
                    <a 
                        href="{{ path('admin_board_edit', {
                            id: board.id
                        }) }}"
                        class="link"
                    >Modifier</a>
                    <a 
                        href="{{ path('admin_api_board_toggle', {
                            id: board.id
                        }) }}"
                        class="link"
                        data-action="board-toggle"
                    >{% if board.isOpen %} Fermer {% else %} Rouvrir {% endif %} </a>
                    <a 
                        href="{{ path('admin_board_delete', {
                            id: board.id
                        }) }}"
                        class="link text-danger"
                        data-action="board-delete"
                    >Supprimer</a>
                </div>                
            </div>
        </div>
    </div>
{% endfor %}