{% extends "admin/layout.html.twig" %}

{% block main %}

    <div class="d-flex justify-content-between mb-2">
        <div class="title ms-1">
            <h1 class="h3"> <i class="bi bi-{{ room.icon }}"></i> {{ room.name }}</h1>
        </div>
        <div class="actions me-1">
            <a
                title="Ajouter un espace de travail" 
                class="btn btn-white" 
                href="{{ path('admin_room_new_board', {
                    id: room.id
                }) }}"
            ><i class="bi bi-plus-lg"></i></a>
            <a
                title="Modifier l'espace de travail" 
                class="btn btn-white" 
                href="{{ path('admin_room_edit', {
                    id: room.id
                }) }}"
            ><i class="bi bi-gear"></i></a>
        </div>
    </div>

    <div class="room-container mt-3 mb-2">
        <div class="list-group">
            <div class="list-group-item py-3 list-group-header">
                <div class="d-flex justify-content-between">
                    <div class="room-boards d-flex flex-row">
                        <a 
                            href="#"
                            class="room-board link me-2"
                            id="boardOpen"
                            data-filter-key="isOpen"
                            data-filter-value="1"
                        > 
                            <i class="bi bi-signpost"></i>
                            {{ room.openBoards }} ouverts
                        </a>
                        <a 
                            href="#"
                            class="room-board link"
                            id="boardClosed"
                            data-filter-key="isOpen"
                            data-filter-value="0"
                        > 
                            <i class="bi bi-check2"></i>
                            {{ room.closedBoards }} fermés
                        </a>
                    </div>
                    {% include "task-manager/room/board_filters.html.twig" %}
                </div>
            </div>
            <div class="board-list">
                {% include "task-manager/room/board_repeater.html.twig" with {boards: boards} %}
            </div>
        </div>
        <div class="board-filter-page row mt-4 mb-5">
            <div class="col-5">
                <div class="row mb-5">
                    <label for="nbItems" class="col-sm-7 col-form-label">Résultats par page</label>
                    <div class="col-sm-5">
                        <select name="nbItems" id="nbItems" class="form-select">
                            <option value="5">5</option>
                            <option value="10">10</option>
                            <option value="15">15</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-auto navigation">
                {{ knp_pagination_render(boards) }}
            </div>
        </div>
    </div>

{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{ asset('css/task-manager/room-show.css') }}">
{% endblock %}

{% block js %}
    <script src="{{ asset('js/task-manager/room-show.js') }}"></script>
{% endblock %}