{{ form_start(form) }}
    {{ form_row(form.biography, {'attr': {'rows': 8}}) }}
    {{ form_widget(form) }}
    <button type="submit" class="btn btn-primary">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}