{% extends "admin/layout.html.twig" %}

{% block main %}

    <div class="container-fluid" id="contents-list">
        <h1 class="mt-2 mb-3">
            Mes contenus
        </h1>
        <div class="d-flex justify-content-end">
            <a href="{{ path('admin_content_create') }}" class="btn btn-crm btn-sm" >Ajouter un contenu</a>
        </div>
        <div class="my-3">
            {% include "flashes.html.twig" %}
        </div>
        <div class="mt-2" id="content-table">
            <table class="table table-hover table-striped align-middle">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Statut</th>
                        <th scope="col">Image</th>
                        <th scope="col">Date</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for content in contents %}
                        <tr data-index="{{ content.id }}">
                            <th scope="row">{{ content.id }}</th>
                            <td>{{ content.state }}</td>
                            <td>{{ content.image != null ? "oui" : "non" }}</td>
                            <td>{{ (content.updatedAt ?? content.createdAt)|format_datetime('full', locale='fr') }}</td>
                            <td>
                                <a 
                                    href="{{ path('admin_content_edit', {id: content.id}) }}" 
                                    class="btn btn-warning btn-sm"
                                    title="Editer le contenu"
                                    aria-label="Editer le contenu"
                                >Modifier</a>
                                <a 
                                    class="btn btn-danger btn-sm"
                                    data-role="delete" 
                                    href="{{ path('admin_content_delete', {id: content.id}) }}"
                                    title="Supprimer le contenu"
                                    aria-label="Supprimer le contenu"
                                >Supprimer</a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="11">no records found</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}

{% block js %}
    <script src="{{ asset('js/admin/content.js') }}"></script>
{% endblock %}