<aside class="sidebar">
    <div class="sidebar-top">
        <a href="{{ path('dashboard') }}" class="sidebar-brand">
            <i class="bi bi-house"></i>
            Tableau de bord
        </a>
        <div class="sidebar-menu">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a href="{{ path('dashboard_content_form') }}" class="nav-link">
                        <i class="bi bi-view-list"></i>
                        Mon contenu
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{{ path('dashboard_project_list') }}" class="nav-link">
                        <i class="bi bi-ui-checks"></i>
                        Mes projets
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="bi bi-mailbox"></i>
                        Mes contacts
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{{ path('dashboard_skill_list') }}" class="nav-link">
                        <i class="bi bi-lightning"></i>
                        Mes compétences
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{{ path('dashboard_social_list') }}" class="nav-link">
                        <i class="bi bi-hash"></i>
                        Mes liens sociaux 
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="bi bi-people"></i>
                        Utilisateurs
                    </a>
                </li>
            </ul>
        </div>
    </div>
     <div class="sidebar-bottom">
        <div class="sidebar-settings">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_default') }}">
                        <i class="bi bi-globe"></i>
                        Revenir sur le site
                    </a>
                </li>
            </ul>
        </div>
    </div>
</aside>