{% extends "admin/layout.html.twig" %}

{% block main %}

    <div class="container-fluid" id="contents-list">
        <h1 class="mt-2 mb-3">
            Mes contenus
        </h1>
        <div class="my-3">
            {% include "flashes.html.twig" %}
        </div>
        <div class="mt-2" id="contact-table">
            <table class="table table-hover table-striped align-middle">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">De</th>
                        <th scope="col">Statut</th>
                        <th scope="col">Date</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for contact in contacts %}
                        <tr data-index="{{ contact.id }}">
                            <th scope="row">{{ contact.id }}</th>
                            <td>{{ contact.fullname }}</td>
                            <td><div class="badge badge-crm">{{ contact.state }}</div></td>
                            <td>{{ (contact.updatedAt ?? contact.createdAt)|format_datetime('full', locale='fr') }}</td>
                            <td>
                                {# <a 
                                    href="{{ path('admin_contact_edit', {id: contact.id}) }}" 
                                    class="btn btn-warning btn-sm"
                                    title="Editer le contenu"
                                    aria-label="Editer le contenu"
                                >Modifier</a>
                                <a 
                                    class="btn btn-danger btn-sm"
                                    data-role="delete" 
                                    href="{{ path('admin_contact_delete', {id: contact.id}) }}"
                                    title="Supprimer le contenu"
                                    aria-label="Supprimer le contenu"
                                >Supprimer</a>#}
                            </td> 
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="11">no records found</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}

{% block js %}
    <script src="{{ asset('js/admin/contact.js') }}"></script>
{% endblock %}